body {
  margin: 0;
  width: 100%;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#kasa {      
  background: no-repeat center url(../src/assets/background/Kasa_Screen.png);
  background-size: cover;
  background-position: top left ;
}
#bank {      
  background: no-repeat center url(../src/assets/background/ArgnetBank_Screen.png);
  background-size: cover;
  background-position: top left ;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}